.bg-img{
    background-image: url('images/donation6.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.text{
    font-size: xx-large;
    text-align: center;
}
.text-1{
    font-size: 80%;
}
.link{
    text-decoration: none;
    background-color: pink;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 0%;
    margin-top: 10%;
}
.depend{
   display:flex;
    width:50%
}
.text-2{
    display: flex;
    margin-left: 5%;
    width: 50%;
}
.text-3{
    display: flex;
    margin-left: 5%;
    width: 50%;
    font-size: x-large;
}
.img{
    margin-left:100%;
}
