/*page-1*/
.bg-img{
    background-image: url('images/donation6.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}
.text{
    font-size: xx-large;
    text-align: center;
}
.text-1{
    font-size: 80%;
}
.link{
    text-decoration: none;
    background-color: pink;
    padding: 10px 30px;
    border-radius: 5px;
    margin: 0%;
    margin-top: 10%;
}
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

    text-transform: capitalize;
}
/*page1 finish*/
/*page2 strat*/
.second-part {
    width: 60%;
    margin: auto;
    padding: 50px 0;
}
.link-2 {
    padding: 15px 40px;
    color: white;
    background-color: red;

    text-decoration: none;

    font-size: 20px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
}
.Top h1 {
    font-size: 50px;
    text-align: center;
    color: #333;
    line-height: 100px;
    font-weight: 600;
    margin-bottom: 0;
}

.Top p {
    text-align: center;
    font-size: 18px;
    padding: 0 150px;
}

.box-1 {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box-2 {
    padding: 25px 40px;
    background:bisque;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;

}

.taka {
    padding: 25px 40px;
    background:beige;
    margin-left: 1%;
    margin-right: 1%;
    border: 3px solid red;
    border-radius: 5px;
}


.donate-taka {
    margin-top: 100px;
    border: none;
    color:antiquewhite;
    margin: auto;
    display: block;
    font-size: 18px;

}
/*page-2* finish*/
/*page-3 start*/
.container {
    width: 80%;
    margin: auto;
}

.donation h1 {
    font-size: 50px;
    text-align: center;
    color:darkslateblue;
    line-height: 100px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 100px;
}

.donation p {
    text-align: center;
    font-size: 18px;
    padding: 0 250px;
    color:cadetblue;
    margin-bottom: 50px;
}
.third part{
    margin-top: -5%;
}
/*page-3 finish*/
/*page-4 start*/
.new{
    background-color:bisque;
    display: flex;
    margin: 0%;
    margin-top: 10%;
}
.new-img{
    width:100%;
    margin: 5%;
    height: 100vh;
}
.new-text{
    font-size: 200%;
    padding-left: 20%;
}
#new-class{
    font-size: 80%;
}
.new-id{
    border-radius: 5px;

}
.new-link{
    text-decoration: none;
    padding: 10px 10px;
    background-color:chartreuse;
    border-radius: 5%;
}
/*page-4 finish*/
/*page-5 start*/
.fourth-part{
    margin-top: 5%;

}
.donate-box {
    display: flex;
    width: 80%;
    margin: auto;

}

.donate-boxes {
    padding: 70px 30px 50px 30px;
    margin-left: 1%;
    margin-right: 1%;
    border-radius: 5px;
}

.donate-boxes h3 {
    font-size: 25px;
    font-weight: 600;
}

.donate-boxes p {
    color:cadetblue;
}

.donate-boxes i {
    font-size: 50px;
}
.container {
    text-align: center;
}
/*page-5 finish*/
/*page-6 start*/
.updates{
    padding-left: 20%;
    padding-right: 20%;
    background-color: bisque;
    height: 140px;
    width: 380px;
    margin-left: 16%;
    border-radius: 3;
}

.updates container form {
    text-align: center;
    margin-bottom: 30px;
}

.email {
    margin-top: 60px;
    height: 30px;
    width: 250px;
    border: none;
    outline: none;
    border-radius: 2px;
    background-color: beige;
    color:darkgreen;
    font-weight: bold;
}
/*page-6 finish*/
/*page-7 start*/
.part-five {
    background-color:crimson;
    border-radius: 2px;
    border: none;
    font-weight: 600;
    height: 32px;
    width: 100px;
    margin-left: -30px;
}

.part-five a {
    text-decoration: none;
    color: whitesmoke;
}
footer {
    background-color: black;
    height: 140px;
    text-align: center;
    margin-top: 70px;
}

footer h3 {
    font-family: cursive;
}

footer p {
    font-size: 13px;
    color: white;
}

.be{
    color: crimson;
}
/*page-7 finish*/